.card {
   position: relative;
}

.card img {
   width: 100%;
   display: block;
   border: 2px solid #fff;
   border-radius: 6px;
   cursor: pointer;
}

/* front of the card */
.card .front {
   position: absolute;
   transform: rotateY(90deg);
   transition: all ease-in 200ms;
}

.flipped .front {
   transform: rotateY(0);
   transition-delay: 200ms;
}

/* back of the card */
.card .back {
   transition: all ease-in 200ms;
   transition-delay: 200ms;
}

.flipped .back {
   transform: rotateY(90deg);
   transition-delay: 0ms;
}